{% extends 'emp_base.html' %}

{% block main %}

<script type="text/javascript">
    function checkpassword(){
        if (document.change_password.new_password.value != document.change_password.confirm_password.value){
            alert("New password and confirm password doesn't match.");
            document.change_password.confirm_password.focus();
            return false;
        }
        return true;
    }

</script>

<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Change Password</h5>
        <div class="container-fluid">
            <form action="" method="post" name="change_password" onsubmit="return checkpassword();">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="id_current_password">Current Password</label>
                            <input type="password" name="current_password" id="id_current_password" class="form-control" placeholder="Current Password ...">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="id_new_password">New Password</label>
                            <input type="password" name="new_password" id="id_new_password" class="form-control" placeholder="New Password ...">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="id_confirm_password">Confirm New Password</label>
                            <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" placeholder="Confirm New Password ...">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary px-5">
            </form>
        </div>
    </div>
</div>



{% if error == "no" %}
    <script>
        alert("Password updated successfully!");
        window.location = ('{% url "logout" %}');
    </script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, try again");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your current password is wrong !");
</script>
{% endif %}

{% endblock main %}