{% include 'header.html' %}

<script>
    function checkpassword()
    {
        if (document.signup.pwd.value != document.signup.cpwd.value)
        {
            alert("Password and confirm password doesn't match.");
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>


<div class="card shadow m-5">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Create An Account</h5>
        <div class="container-fluid">
            <form action="" method="post" name="signup" onsubmit="return checkpassword();">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" name="firstname" id="" class="form-control" placeholder="Enter First Name" pattern="[A-Z a-z]+" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" name="lastname" id="" class="form-control" placeholder="Enter Last Name" pattern="[A-Z a-z]+" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Employee Code</label>
                            <input type="text" name="empcode" id="" class="form-control" placeholder="Enter Your Employee Code" pattern="[0-9]+" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Email ID</label>
                            <input type="email" name="email" id="" class="form-control" placeholder="Enter Your Email ID" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" name="pwd" id="" class="form-control" placeholder="Enter Your Password" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input type="password" name="cpwd" id="" class="form-control" placeholder="Enter Your Confirm Password" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary px-5">
            </form>
        </div>
    </div>
</div>



{% if error == "no" %}
    <script>
        alert("Signup Successfull!");
        window.location = ('{% url "emp_login" %}');
    </script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, try again");
</script>
{% endif %}